*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    
    
}
body{
    background: url('/assets/background.png')no-repeat;
    width: 1200px;
    
}
/*Nav-bar style*/
header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 32px 57px 0 57px;
    
}
header a {
    text-decoration: none;
}
header #logo {
    font-size: 20px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

header .h1-rocket {
    color: #fff;
    margin-right: 6px;
}
 .h1-nft {
    color: #FF5B50;
}
header .nav-bar{
    display:flex;
}
header a .navbar-link {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    padding: 0 30px;
}
header a .navbar-link:hover {
    color: #FF5B50;
    cursor: pointer;
    transition: 0.5s;
    font-weight: bold;
    
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  4px 8px;
    margin-right: 20px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 700;
    border-radius: 8px;
    border: 0px none;
}

.conect-wallet:hover {
    background-color: #FF5B50;
    opacity: 80%;
    color: black;
    cursor: pointer;
    transition: .5s;

}
/*Main content*/

main .main-article {
    width: 100%;
    margin-top: 70px;
    margin: 70px 57px 0 57px;
    display: flex;
    justify-content: space-between;
}
main .exp-dig{
    width: 350px;
}
main p {
    color: #fff;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400; 
    line-height: 1.35;
    width: 350px;
    height: 90px;
    margin-top: 10px;
    margin-bottom: 40px;
}
main div img {
    width: 57px;
    height: 57px;
}

div .photo4{
    position: absolute;
    z-index: 0;
    margin-left: 60px;

}
div .photo3{
    position: absolute;
    z-index: 1;
    margin-left: 40px;
}
div .photo2{
    position: absolute;
    z-index: 2;
    margin-left: 20px;
}
div .photo1{
    position: absolute;
    z-index: 3;
    margin-left: 0px;
}
.mais-artistas p{
    color: #fff;
    font-family: 'Montserrat' sans-serif;
    margin-left: 130px;
    margin-top: 60px;
}

article .principal-div{
    color: #fff;
    width: 500px;
    height: 300px;
    margin-left: 120px;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 30px;
}
article .badge {
    width: 200px;
    height: 200px;
    margin-right: 32px;
}
/*Second content*/
.photos {
    margin-bottom: 0px;
}

.photos .first-section {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 200px;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 30px;
    
}
.photos .first-section img {
    width: 280px;
    height: 180px;
    padding: 8px;

}

.photos .second-section {
    display: flex;
    justify-content: space-between;
    width: 800px;
    height: 200px;
    margin-left:40px;
    margin-right: 40px;
    margin-bottom: 0px;
    
}
.photos .second-section img {
    width: 280px;
    height: 180px;
    padding: 8px;

}

/*Info*/

 #info {
    width: 1300px;
    display: flex;
    margin-top: 40px;
    background-color: black;
    
}
#info #info-section{
    padding-left: 80px;
    display: flex;
    border-bottom: 1px solid #545454;
    height: 543px;
   
}
section .display {
    width: 200px;
}


section .icon{
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #fff;
}
section .subtitle {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5A5757;
    justify-content: center;
    margin-left: 15px;

}
section .subtitle-art{
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: #5A5757;
    justify-content: center;
    margin-left: 0px;

}
section .side-info {
    width: 1200;
    border-left: 1px solid #5A5757;
}
.side-info .info-bar {
    display: flex;
    justify-content: center;

}
.info-bar p {
    width: 340px;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-size:16px;
    font-weight: 400;
    margin: 30px 40px 50px 40px;
}
section .image{
    width: 985px;
    height: 270px;
    
}

.info-bar p a{
    color: #fff;
    text-decoration: underline;
}
